
# Module 2 intermediate datasets
Module 2 - Data Cleaning & Transformation/output/university_raw_merged_data.csv
Module 2 - Data Cleaning & Transformation/output/university_cleaned_merged_data.csv

# Python cache files
__pycache__/
*.pyc
